/* FONTS start */

/* yeseva-one-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options.*/
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yeseva-one-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* FONTS end */

/* настройки модели расчета ширины блоков, фиксация на заданные значения */
html {
    box-sizing: border-box;    
    scroll-behavior: smooth;

}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: Nunito Sans, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    background-color: #131313;
    color: #FFFFFF;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1263px;
    height: 83px;
    margin: 0 auto;
    /* border: 1px solid rgb(28, 215, 203); */
}

.wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.header__nav {
    display: flex;
    flex-wrap: wrap;
}

address>a {
    font-size: 11px;
    color: #E3B873;
    margin-right: 45px;
}
address>a:hover, address>a:active, address>a:focus {
    opacity: 75%;
}

.header__logo {
    color: #E3B873;
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 95px ;
}

.header__navlinks {
    margin-right: 67px;
}
.header__navlink {
    display: inline;
    margin-right: 47px  ;
}

.header__link {
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    color: #E3B873;
}
.btn {
    background-color: #E3B873;
    color: white;
    min-width: 161px;
    height: 37px;
    border-radius: 2px;
    border: 0;
    font-size: 11px;
    text-transform: uppercase;
    padding: 13px 33px;
} 

.btn--h57 {
    height: 57px;
    width: 215px;
    padding: 22px 23px;
}
.btn--w200 {
    width: 200px;
    /* max-width: 200px; */
}

.btn--w213 {
    width: 213px;
}




.btn:hover, .btn:focus, .btn:active {
   background-color: #E3B873;
   transition: 0.3s;
}

.btn_call:hover, .btn_call:focus, .btn_call:active {
    background-color: rgb(0, 153, 255);
}

.btn_italic {
    font-style: italic;
}

.btn_transparent {
    background-color: transparent;
    border-color: white;
    border: 1px solid;
    margin-left: 21px;
}

section {
    width: 1263px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    margin-right: 10px;
    flex-wrap: no-wrap;
    width: auto;

}
.chapter_1 {
    position: relative;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    z-index: 1;    
    background-color: rgba(0, 0, 0, 0.7);
    /* border: 1px solid white; */
}
.chapter_1_background {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url('../img/chapter1_bg.png');
    background-position: left -130px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Yeseva One;
    max-width: 15em;
    line-height: 132%;
}
.title_top {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 19px ;
}

.title_top_city {
    color: #E3B873;
}

.text_info {
    line-height: 164%;
    max-width: 480px;
    margin-bottom: 46px;
    font-size: 22px;
}

.chapter_2 {
    position: relative;
    width: 100%;
    height: 1074px;
    padding-top: 107px;
    padding-left: 134px;
    /* border-color: blue;
    border: 1px solid green; */
}

.ch2__projects_list {
    display: flex;
    flex-wrap: nowrap;
    width: 736px;
}

.ch2_project_list_item {
    text-transform: uppercase;
    margin-right: 60.5px;
    font-family: Yeseva One;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    padding-bottom: 7px;
}
.ch2_project_list_item_highlight {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    cursor: pointer;
    transition: 0.15s;
}
.ch2_project_list_item:hover, .ch2_project_list_item:focus, .ch2_project_list_item:active {
    color: #E3B873;
    opacity: 85%;
    cursor: pointer;
    transition: 0.15s;
}

/* контейнер для таблицы шаблона "выполненные проекты" 2х2*/
.ch2_projects_grid {
    width: 1171px;
    display: grid;
    grid-template-columns: 442px 1fr;
    grid-template-rows: 25px 1fr;
    gap: 50px;
}

/* контейнер для таблицы "инфо о проекте" 2х2*/
.ch2_project_info_grid {
    width: fit-content;
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 34px;
    margin-bottom: 80px;
}

.ch2_project_info_grid>div {
    width: fit-content;
}
.ch2_title {
    font-family: Yeseva One;
    font-size: 27px;
    color: #E3B873;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.ch2_description {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
}
.ch2_subtitle {
    font-family: Yeseva One;
    font-size: 18px;
    color: #E3B873;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.ch2_info {
    font-size: 13px;
}

.ch2_projects_arrows {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 17px;
}
.big_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.big_dot_active {
    background-color: #FFFFFF;
}

.arrow_left {
    margin-right: 12px;
}
.arrow_right {
    margin-left: 12px;
}

.arrow_left:hover, .arrow_right:hover {
    opacity: 65%;
    cursor: pointer;
    transition: 0.15s;
}

/* Секция 3 */

.black-font {
    color: black;
}

.chapter_3 {
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.chapter_3_intro {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    top: -298px;
    width: 817px;
    height: 870px;
    padding: 0;
}


.chapter3_title {   
    display: flex; 
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Yeseva One;
    color: white;
    align-items: center;    
    margin-bottom: 12px;
}

.chapter3_title > img {
    margin-right: 9px;
    margin-left: 7px;
    margin-bottom: 31px;
}

.chapter3_video {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.ch3_video_img {
    margin: 0;
    padding: 0;
}

.chapter_3_video {
    position: relative;
    width: 817px;
    height: 434px;
    background-color: #000000;
    padding: 0;
    margin-bottom: 62px;
}

.ch_3_video_placeholder {
    opacity: 0.3;
}

.video-play-ico {
    position: absolute;
    padding: 0;
    top: 35%;
    left: 44%;
}

.video-play-ico:hover {
    opacity: 65%;
    transition: 0.25s;
}

.ch3_online_desc {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 204%;
    width: 681px;
}

.watch_request {
    width: 769px;
    min-height: 51px;
    position: relative;
    margin-inline: auto;
    margin-bottom: 27px;
}

.watch_req_form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 49px;
    margin-bottom: 31px;
    margin-inline: auto;
    position: relative;
}

.ch3_form_elem {
    display: flex;
    flex-direction: column;
}

.ch3_form_elem_title {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.2);
}

.ch3_form_input {
    width: 231px;
    color: black;
    border: 0;
    padding-block: 8px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.2);
    
}

.ch3_form_input:focus, .ch3_form_input:active {
    background-color: #e3b8731a;
    border-color: rgba(0, 0, 0, 0.155);
    border: 0;
    outline: 0;
}
.ch3_form_input::placeholder {
    color: black;
}


.ch3_form_agree_personal_data {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.ch3_checkbox {
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 8px;
    accent-color: #E3B873;
    /* color: white; */
}

.ch3_checkbox_label {
    color: rgb(0, 0, 0);
    font-size: 14px;
}
 
.ch3_checkbox_label:checked {
    background-color: rgb(255, 255, 255);
    border-color: #FFFFFF;
}

.btn_submit {
    height: 51px;
}

#ch3_btn_submit[disabled] {
    opacity: 70%;
    filter: grayscale(100%);
    cursor: not-allowed;
}

.chapter_4 {
    position: relative;
    margin: 0 auto;
    background-color: white;
}
.chapter4_title {   
    display: flex; 
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Yeseva One;
    color: rgb(0, 0, 0);
    align-items: center;    
    margin-bottom: 12px;
}

.chapter4_title > img {
    margin-right: 9px;
    margin-left: 7px;
    margin-bottom: 31px;
}

.ch4_types_grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,392px);
    gap: 30px;
    margin-inline: 100px;
    min-height: 608px;
}

.ch4_typeofrepair_card {
    position: relative;
}

.ch4_typeofrepair_title {
    font-family: Yeseva One;
    font-size: 18px;
    margin-bottom: 13px;
    color: black;
}
.ch4_typeofrepair_info {
    padding: 25px 102px 49px 31px;
    margin-inline: auto;
    position: relative;
    background-color: white;
    top: -127px;
    width: 330px;
    min-height: 286px;
    color: #959595;
    line-height: 205%;
    font-size: 13px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}

.ch4_typeofrepair_cost {
    position: absolute;
    padding: 17px 21px;
    min-width: 228px;
    min-height: 54px;
    bottom: -22px;
    left: 0px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px #e3b8734f;
    font-family: Yeseva One;
    font-size: 18px;
    color: white;
    text-transform: uppercase; 
}

.chapter_5_grid {
    display: grid;
    grid-template-columns: 1fr 506px 100px;
    gap: 0px;
    margin-top: 0px;
    padding-bottom: 242px;
    min-height: 725px;
    background-color: white;
    color: black;
}

.ch5_measure_help__list {
    background-image: url('../img/ch5_background.png');
    background-repeat: no-repeat;
    background-size: 75%;
}

.ch5_measure_checklist {
    position: relative;
    margin-left: 304px;
    width: 316px;
    min-width: 374px;
    padding-top: 10px;
    height: 100%;
    list-style-type: none;
    counter-reset: list-index;
}

.ch5_measure_checklist__item {
    position: relative;
    display: flex;
    min-height: 42px;
    align-items: center;
    counter-increment: list-index;
    margin-bottom: 105px; /* уточнить */
    font-size: 14px;
    
}

.ch5_measure_checklist__item:before {
    box-sizing: content-box;
    content: "0" counter(list-index);
    position: absolute;
    display: flex;
    top: -10px;
    left: -66px;
    width: 42px;
    height: 42px;
    line-height: 28px;
    border-radius: 50%;
    border: 8px solid rgb(250, 250, 250);
    background-color: #E3B873;
    font-family: Yeseva One;
    font-size: 18px;
    color: white;
    align-items: center;
    justify-content: center;
}

.ch5_measure__form_space {
    display: flex;
    flex-direction: column;
    width: 506px;
}

.ch5_measure_title {
    line-height: 143%;
    font-size: 18px;
    width: auto;
    text-align: center;
    margin-bottom: 39px;
}

.ch5_measure__form_block_form {
    background-color: black;
    color: white;
    min-height: 509px;
    padding-block: 27px;
    padding-inline: 49px;
}
/* стили формы ch5 */

.ch5__form__elem {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.ch5__form > .ch5__form__elem:nth-of-type(3) {
    margin-bottom: 16px;
}

.ch5_form_elem_title {
    display: block;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}


.ch5_form_input {
    display: block;
    width: 408px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border: 0;
    padding-block: 8px;
    border-bottom: 2px solid rgba(54, 54, 54, 0.5);
    background-color: black;
    
}

.ch5_form_input:focus, .ch5_form_input:active {
    /* background-color: #e3b8731a; */
    /* border-color: rgb(248, 184, 22); */
    border-bottom: 2px solid rgba(214, 168, 29, 0.5);
    outline: 0;
}
.ch5_form_input::placeholder {
    color: rgb(255, 255, 255);
}


.ch5_form_agree_personal_data {
    display: flex;
    flex-direction: row;    
    margin-bottom: 39px;
}

.ch5_checkbox {
    width: 18px;
    height: 18px;
    display: flex;
    margin-right: 9px;
    accent-color: #E3B873;
}

.ch5_checkbox_label {
    color: rgb(255, 255, 255);
    font-size: 14px;
}
 
.ch5_checkbox_label:checked {
    background-color: rgb(255, 255, 255);
    border-color: #FFFFFF;
}

.ch5__button {
    display: flex;
    justify-content: end;
}

#ch5_btn_submit {
    font-size: 13px;
    border-radius: 0;
}

#ch5_btn_submit[disabled] {
    opacity: 70%;
    filter: grayscale(100%);
    cursor: not-allowed;
}


.ch5_measure__helpsave {
    display: flex;
    flex-direction: row;
    color: black;
    width: 506px;
    margin-top: 42px;
    margin-left: 31px;
    /* border: 1px dashed green; */
}

.ch5_helpsave_item {
    margin-right: 25px;
    line-height: 143%;
    font-size: 18px;
    color:  #E3B873;
    align-self: center;
}

.chapter_6_background {
    position: relative;
    /* border: 10px dotted green; */
    height: 100%;
    width: 100%;
    background-image: url('../img/ch6_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }
    
.chapter_6 {
    display: grid;
    grid-template-columns: 587px 353px 43px 353px auto;
    align-content: start;
    position: relative;
    width: 100%;
    height: 864px;
    z-index: 2;
    background: linear-gradient(65deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.90));
}
    

.ch6_wildest_fantasies {
    display: flex;
    flex-direction: column;
}
 
.ch6_title {
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 139%;
    color: #E3B873;
    text-transform: uppercase;
    margin-left: 99px;
    margin-top: 137px;
    margin-bottom: 47px;
}

.ch6_styles_list {
    margin-left: 99px;
    width: fit-content;
}

.ch6_styles_item {
    width: fit-content;
    color: white;
    font-size: 20px;
    margin-bottom: 26px;
}

.ch6_styles_item:hover {
    color: #E3B873;
    background-image: linear-gradient(180deg, transparent 26px, #876f49 1px);
    background-position:  0 100%;
    background-repeat: repeat-x;
    cursor: pointer;
    transition: 0.25s;
}

.ch6_styles_photo_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 945px;
    top: -41px;
    z-index: -100;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.ch6_styles_photo_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 937px;
    top: -112px;
    z-index: 100;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.chapter_7_background {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 1106px;
    background-color: white;
    background-image: url('../img/chapter7_bg_city.png');
    background-position: bottom;
    background-repeat: repeat-x;  
}

.chapter_7 {
    position: relative;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    padding-top: 111px;
}

.ch7_our-clients__title {
    width: 100%;
    position: relative;
    font-family: Yeseva One;
    font-size: 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 13px;
}

.ch7_our-clients_ico, .ch7_our-clients_subtitle {
    margin: 0 auto;
    display: block;
}

.ch7_our-clients_ico {
    margin-bottom: 24px;
}

.ch7_our-clients_subtitle {
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    line-height: 163%;
    margin: 0 auto 39px;
}

.ch7_clients_reviews_grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: 50px;
    margin-inline: 100px;
}

.ch7_client-review__card {
    position: relative;
    background-color: white;
    max-width: 376px;
    min-height: 432px;
    height: minmax(432px, auto);
    display: flex;
    flex-direction: column;
    /* border: 2px dotted     rgb(10, 117, 224); */
    padding: 20px 30px 10px 24px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.ch7_client_header {
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    align-items: center;
}

.ch7_client_avatar {
    border-radius: 50%;
    margin-right: 24px;

}

.ch7_client_name {
    color: black;
    font-family: Yeseva One;
    font-size: 18px;
}

.ch7_client_review {
    line-height: 180%;
    font-size: 13px;
    color: #959595;
}

.ch7_client_review>p {
    margin-bottom: 5px;
}
.ch7_review_info_grid {
    position: absolute;
    bottom: -26px;
    left: 0px;
    min-width: 293px;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.ch7_review_info_grid_item {
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    padding: 11px 17px;
    align-items: center;
    font-family: Yeseva One;
    font-size: 17px;
}

.ch7_review_info_size_value, .ch7_review_info_time_value {
    margin-left: 15px;
}


.chapter_8_bg_dark {
    
    /* z-index: 1;     */
    background-color: rgba(0, 0, 0, 0.7);
    }
    
.chapter_8 {
    position: relative;
    /* z-index: 2; */
    top: -225px;
    width: 883px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    padding-block: 34px;
    /* border: 5px dashed green; */
    background-color: #181818;
}

.chapter_8_background_img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url('../img/ch8_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ch8__questions-form__title {
    font-family: Yeseva One;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    justify-self: center;
    margin-bottom: 46px;
}

.ch8_questions-form_grid {
    position: relative;
    display: grid;
    min-width: 516px;
    grid-template-columns: 1fr 1fr;
    gap: 40px 53px;
    /* border: 2px dotted green; */
    margin-inline: auto;
}

.ch8__form__elem {
    /* border: 2px dotted green; */
}
#ch8_form_question, #ch8_form_agree, #ch8_form_submit {
    display: flex;
    grid-column: span 2;
    margin-inline: auto;
    align-content: center;
    width: 100%;
}


.ch8__form__elem {
    display: flex;
    flex-direction: column;
}

.ch8_form_elem_title {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.ch8_form_input {
    font-size: 14px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #181818;
    border: 0;
    padding-block: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.ch8_form_input:focus, .ch8_form_input:active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    outline: 0;
}
.ch8_form_input::placeholder {
    color: rgb(255, 255, 255);
}


.ch8_form_agree_personal_data {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.ch8_checkbox {
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 8px;
    accent-color: #E3B873;
}

.ch8_checkbox_label {
    color: rgb(255, 255, 255);
    font-size: 14px;
}
 
.ch8_checkbox_label:checked {
    background-color: rgb(255, 255, 255);
}

.ch8_form_agree_personal_data, .ch8__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ch8_btn_submit {
    font-size: 13px;
    border-radius: 0;
}

#ch8_btn_submit[disabled] {
    opacity: 70%;
    filter: grayscale(100%);
    cursor: not-allowed;
}




/* АДАПТИВНЫЙ БЛОК */

/* Мобильная верстка на экранах < 1300 px. */
@media (max-width: 1300px) {
    /* todo */
}

/* Опционально: модифицировать мобильную верстку для разрешения > 768 px. */
@media (min-width: 768px) and (max-width: 1300){
    /* todo */
}